@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 0;
}

@keyframes snowfall {
  0% {
    transform: translateY(-10vh);
    /* Start above the viewport */
  }

  100% {
    transform: translateY(calc(103vh));
    /* End 20px above the bottom of the viewport */
  }
}

.snowflake:nth-child(1) {
  --size: 0.6vw;
  left: 55vw;
  animation: snowfall 8s linear infinite;
}

.snowflake:nth-child(2) {
  --size: 1.0vw;
  left: 77vw;
  animation: snowfall 7s linear infinite;
}

.snowflake:nth-child(3) {
  --size: 0.5vw;
  left: 60vw;
  animation: snowfall 10s linear infinite;
}

.snowflake:nth-child(4) {
  --size: 1.5vw;
  left: 20vw;
  animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(5) {
  --size: 0.65vw;
  left: 30vw;
  animation: snowfall 11s linear infinite;
}

.snowflake:nth-child(6) {
  --size: 0.89vw;
  left: 29vw;
  animation: snowfall 9s linear infinite;
}

.snowflake:nth-child(7) {
  --size: 0.7vw;
  left: 37vw;
  animation: snowfall 8s linear infinite;
}

.snowflake:nth-child(8) {
  --size: 0.7vw;
  left: 45vw;
  animation: snowfall 7s linear infinite;
}

.snowflake:nth-child(9) {
  --size: 1.2vw;
  left: 23vw;
  animation: snowfall 12s linear infinite;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background: #000000;

}

.container {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
  z-index: 1;
  /* Higher than the snowflakes' z-index */
  position: relative;
}

.drag_area {
  height: 150px;
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  margin: 10px auto;
}

h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.drag_area .icon {
  font-size: 50px;
  color: #1683ff;
}

.drag_area .header {
  font-size: 20px;
  font-weight: 500;
  color: #34495e;
}

.drag_area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}

.drag_area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}

.drag_area.active {
  border: 2px solid #1683ff;
}

.title {
  text-align: center;
  /* Center the title text */
  color: #fff;
  /* Set the color of the title text */
  font-size: 2em;
  /* Set the size of the title text */
  margin-top: 20px;
  font-weight: 500;

}

.next-button {
  padding: 10px 20px;
  margin-top: 20px;
  /* Adjust as needed for spacing */
  background-color: #1683ff;
  /* Button color */
  color: white;
  /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  /* Optional style */
  transition: background-color 0.3s ease;
  /* Optional: for a hover effect */
}

.next-button:hover {
  background-color: #0c7bdc;
  /* Darker shade for hover effect */
}
